body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  background: #6b84b3;
  color: #333;
}

header, footer {
  background-color: #6f6db8;
  color: rgb(51, 35, 94);
  padding: 1em;
  text-align: center;
}

main {
  padding: 1.5em;
  display: grid;
  gap: 2em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  max-width: 400px;
}

input {
  padding: 0.5em;
}

button {
  padding: 0.7em;
  border: none;
  background-color: #0066cc;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0052a3;
}

.grid {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.participante {
  background: white;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  width: 150px;
}

.dark-theme {
  background-color: #222;
  color: #f0f0f0;
}

.dark-theme header,
.dark-theme footer {
  background-color: #111;
}
